# Part 1

In [ ]:
#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [1]:
import os
print(os.getcwd())

/resources/DL0101EN/labs/Week4

In [2]:
import pandas as pd
# Load the dataset
file_path = 'concrete_data.csv'
data = pd.read_csv(file_path)

# Display the first few rows and general information about the dataset
data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

(   Cement  Blast Furnace Slag  Fly Ash  Water  Superplasticizer  \
 0   540.0                 0.0      0.0  162.0               2.5
 1   540.0                 0.0      0.0  162.0               2.5
 2   332.5               142.5      0.0  228.0               0.0
 3   332.5               142.5      0.0  228.0               0.0
 4   198.6               132.4      0.0  192.0               0.0

    Coarse Aggregate  Fine Aggregate  Age  Strength
 0            1040.0           676.0   28     79.99
 1            1055.0           676.0   28     61.89
 2             932.0           594.0  270     40.27
 3             932.0           594.0  365     41.05
 4             978.4           825.5  360     44.30  ,
 None)

In [3]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
data.shape

(1030, 9)

In [5]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
data_columns = data.columns

# Select predictors by excluding the 'Strength' column
predictors = data[data_columns[data_columns != "Strength"]]

# Set target to the 'Strength' column
target = data["Strength"]

predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
predictors.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000

In [12]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [9]:
def create_baseline_model(input_dim):
    model = Sequential()
    
    # Add a hidden layer with 10 nodes and ReLU activation
    model.add(Dense(10, activation='relu', input_shape=(input_dim,)))
    
    # Output layer with a single node for regression (no activation function)
    model.add(Dense(1))
    
    # Compile the model with the Adam optimizer and Mean Squared Error as the loss function
    model.compile(optimizer=Adam(), loss='mean_squared_error')
    
    return model

In [10]:
# Set the input dimension based on the predictors (number of features)
input_dim = predictors.shape[1]  # Assuming predictors is already defined

# Create the baseline model
baseline_model = create_baseline_model(input_dim)

# Display the model summary
baseline_model.summary()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                90
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 101
Trainable params: 101
Non-trainable params: 0
_________________________________________________________________

In [15]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [16]:
# Redefine predictors and target from the loaded data
predictors = data.drop(columns=['Strength'])  # All columns except 'Strength' are predictors
target = data['Strength']  # 'Strength' is the target variable

# Perform a 70-30 split for training and testing
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Display the shapes of the split data to confirm
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((721, 8), (309, 8), (721,), (309,))

In [21]:
baseline_model.fit(X_train,y_train,validation_split=0.3,epochs=50,verbose=1)

Train on 504 samples, validate on 217 samples
Epoch 1/50
504/504 [==============================] - 0s 54us/step - loss: 114.9765 - val_loss: 106.6541
Epoch 2/50
504/504 [==============================] - 0s 74us/step - loss: 122.8303 - val_loss: 147.5725
Epoch 3/50
504/504 [==============================] - 0s 71us/step - loss: 128.3317 - val_loss: 106.6025
Epoch 4/50
504/504 [==============================] - 0s 75us/step - loss: 114.7788 - val_loss: 109.6161
Epoch 5/50
504/504 [==============================] - 0s 51us/step - loss: 111.4405 - val_loss: 106.9498
Epoch 6/50
504/504 [==============================] - 0s 72us/step - loss: 113.5621 - val_loss: 108.5859
Epoch 7/50
504/504 [==============================] - 0s 73us/step - loss: 111.5263 - val_loss: 125.1932
Epoch 8/50
504/504 [==============================] - 0s 78us/step - loss: 114.3604 - val_loss: 104.5255
Epoch 9/50
504/504 [==============================] - 0s 73us/step - loss: 111.5242 - val_loss: 104.5098
Epoch 10/50
504/504 [==============================] - 0s 51us/step - loss: 110.0658 - val_loss: 119.7076
Epoch 11/50
504/504 [==============================] - 0s 70us/step - loss: 114.1511 - val_loss: 105.4845
Epoch 12/50
504/504 [==============================] - 0s 75us/step - loss: 112.5051 - val_loss: 110.3169
Epoch 13/50
504/504 [==============================] - 0s 50us/step - loss: 107.5379 - val_loss: 104.9239
Epoch 14/50
504/504 [==============================] - 0s 71us/step - loss: 112.0014 - val_loss: 104.5289
Epoch 15/50
504/504 [==============================] - 0s 77us/step - loss: 112.0069 - val_loss: 107.0927
Epoch 16/50
504/504 [==============================] - 0s 71us/step - loss: 116.8984 - val_loss: 103.7564
Epoch 17/50
504/504 [==============================] - 0s 57us/step - loss: 109.4485 - val_loss: 107.4590
Epoch 18/50
504/504 [==============================] - 0s 69us/step - loss: 110.9822 - val_loss: 103.2477
Epoch 19/50
504/504 [==============================] - 0s 69us/step - loss: 115.1014 - val_loss: 119.3948
Epoch 20/50
504/504 [==============================] - 0s 74us/step - loss: 110.3932 - val_loss: 129.4581
Epoch 21/50
504/504 [==============================] - 0s 55us/step - loss: 117.8492 - val_loss: 104.8350
Epoch 22/50
504/504 [==============================] - 0s 67us/step - loss: 116.4239 - val_loss: 111.4667
Epoch 23/50
504/504 [==============================] - 0s 72us/step - loss: 112.6955 - val_loss: 103.3109
Epoch 24/50
504/504 [==============================] - 0s 60us/step - loss: 109.8199 - val_loss: 103.6139
Epoch 25/50
504/504 [==============================] - 0s 66us/step - loss: 110.4126 - val_loss: 102.9156
Epoch 26/50
504/504 [==============================] - 0s 71us/step - loss: 113.7475 - val_loss: 107.5608
Epoch 27/50
504/504 [==============================] - 0s 83us/step - loss: 110.4149 - val_loss: 103.2777
Epoch 28/50
504/504 [==============================] - 0s 81us/step - loss: 111.0614 - val_loss: 114.4056
Epoch 29/50
504/504 [==============================] - 0s 79us/step - loss: 118.2268 - val_loss: 102.0835
Epoch 30/50
504/504 [==============================] - 0s 72us/step - loss: 108.7383 - val_loss: 102.6969
Epoch 31/50
504/504 [==============================] - 0s 74us/step - loss: 110.5149 - val_loss: 103.2964
Epoch 32/50
504/504 [==============================] - 0s 70us/step - loss: 109.6650 - val_loss: 103.0389
Epoch 33/50
504/504 [==============================] - 0s 54us/step - loss: 110.3330 - val_loss: 102.9817
Epoch 34/50
504/504 [==============================] - 0s 72us/step - loss: 108.8430 - val_loss: 102.7766
Epoch 35/50
504/504 [==============================] - 0s 71us/step - loss: 108.3291 - val_loss: 103.7054
Epoch 36/50
504/504 [==============================] - 0s 70us/step - loss: 109.5845 - val_loss: 106.3987
Epoch 37/50
504/504 [==============================] - 0s 58us/step - loss: 110.7386 - val_loss: 102.5344
Epoch 38/50
504/504 [==============================] - 0s 66us/step - loss: 108.4079 - val_loss: 108.1588
Epoch 39/50
504/504 [==============================] - 0s 53us/step - loss: 108.3246 - val_loss: 115.0268
Epoch 40/50
504/504 [==============================] - 0s 54us/step - loss: 110.2846 - val_loss: 101.9736
Epoch 41/50
504/504 [==============================] - 0s 76us/step - loss: 113.7026 - val_loss: 103.2534
Epoch 42/50
504/504 [==============================] - 0s 67us/step - loss: 110.5787 - val_loss: 129.3137
Epoch 43/50
504/504 [==============================] - 0s 53us/step - loss: 119.4642 - val_loss: 107.1188
Epoch 44/50
504/504 [==============================] - 0s 75us/step - loss: 126.2474 - val_loss: 103.7754
Epoch 45/50
504/504 [==============================] - 0s 72us/step - loss: 112.1049 - val_loss: 107.9817
Epoch 46/50
504/504 [==============================] - 0s 56us/step - loss: 106.8278 - val_loss: 103.1411
Epoch 47/50
504/504 [==============================] - 0s 61us/step - loss: 107.9258 - val_loss: 102.4632
Epoch 48/50
504/504 [==============================] - 0s 69us/step - loss: 109.4627 - val_loss: 104.3776
Epoch 49/50
504/504 [==============================] - 0s 66us/step - loss: 108.8815 - val_loss: 106.0426
Epoch 50/50
504/504 [==============================] - 0s 58us/step - loss: 111.8037 - val_loss: 122.1747

In [20]:
from sklearn.metrics import mean_squared_error

In [22]:
# 3. Evaluate the model on the test data
y_pred = baseline_model.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error on Test Data:", mse)

Mean Squared Error on Test Data: 120.89287970348799

In [24]:
import numpy as np 
# List to store MSEs from each iteration
mse_list = []

for i in range(50):
    # 1. Split the data (with random_state changing on each iteration for true randomness)
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    
    # 2. Create a new instance of the model
    model = create_baseline_model(input_dim)
    
    # Train the model
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # 3. Predict on the test set and calculate MSE
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    # Append the MSE to the list
    mse_list.append(mse)
    
# 5. Calculate the mean and standard deviation of the MSEs
mse_mean = np.mean(mse_list)
mse_std = np.std(mse_list)

mse_mean, mse_std

(322.60398410989944, 288.41718893172686)

In [25]:
mse_list

[87.60943049084447,
 245.18619515414215,
 639.1172891833953,
 105.7393189593071,
 127.69519058722825,
 261.5994297177079,
 144.82982814658953,
 125.19706592670461,
 123.67108221348978,
 120.41121859139298,
 284.8029298537829,
 155.96610655572564,
 495.01326717645674,
 214.76948359504445,
 135.44832432736405,
 91.04843797161732,
 245.51985005049403,
 149.8241815870972,
 77.50348684170793,
 445.69782691188925,
 206.29214603708454,
 151.11372725441424,
 123.13887611137783,
 511.58597858709754,
 1465.3017652927833,
 723.4452637902286,
 673.145622566251,
 247.147768172811,
 129.42458184326188,
 145.60516611516863,
 730.124541775548,
 1292.036434344654,
 247.16483808296604,
 159.89888327790783,
 85.7640880275343,
 757.6266429174124,
 481.2079201459588,
 247.0394961298624,
 436.7329079920284,
 115.27439687100048,
 533.0456768810221,
 251.31679205676053,
 334.5390922898107,
 226.67657936433702,
 201.53834660065024,
 122.06344675362323,
 301.4512258315104,
 176.48939891962712,
 174.9201872709843,
 602.4374703493149]

# Part B : variation de l' epochs (100)

In [26]:
baseline_model.fit(X_train,y_train,validation_split=0.3,epochs=100,verbose=1)

Train on 504 samples, validate on 217 samples
Epoch 1/100
504/504 [==============================] - 0s 102us/step - loss: 109.3477 - val_loss: 112.6080
Epoch 2/100
504/504 [==============================] - 0s 92us/step - loss: 101.8076 - val_loss: 115.9670
Epoch 3/100
504/504 [==============================] - 0s 110us/step - loss: 101.8943 - val_loss: 112.3903
Epoch 4/100
504/504 [==============================] - 0s 92us/step - loss: 106.3477 - val_loss: 108.6828
Epoch 5/100
504/504 [==============================] - 0s 106us/step - loss: 100.9005 - val_loss: 108.1685
Epoch 6/100
504/504 [==============================] - 0s 112us/step - loss: 99.8950 - val_loss: 108.6618
Epoch 7/100
504/504 [==============================] - 0s 95us/step - loss: 100.8462 - val_loss: 108.6092
Epoch 8/100
504/504 [==============================] - 0s 108us/step - loss: 100.3650 - val_loss: 108.6312
Epoch 9/100
504/504 [==============================] - 0s 89us/step - loss: 99.9946 - val_loss: 109.2550
Epoch 10/100
504/504 [==============================] - 0s 105us/step - loss: 99.8261 - val_loss: 109.8280
Epoch 11/100
504/504 [==============================] - 0s 89us/step - loss: 100.6547 - val_loss: 109.2735
Epoch 12/100
504/504 [==============================] - 0s 110us/step - loss: 100.7733 - val_loss: 113.0367
Epoch 13/100
504/504 [==============================] - 0s 97us/step - loss: 101.0901 - val_loss: 115.2524
Epoch 14/100
504/504 [==============================] - 0s 102us/step - loss: 104.5167 - val_loss: 108.6444
Epoch 15/100
504/504 [==============================] - 0s 95us/step - loss: 103.4335 - val_loss: 132.4778
Epoch 16/100
504/504 [==============================] - 0s 92us/step - loss: 109.7374 - val_loss: 109.7621
Epoch 17/100
504/504 [==============================] - 0s 100us/step - loss: 101.4014 - val_loss: 116.4958
Epoch 18/100
504/504 [==============================] - 0s 120us/step - loss: 107.4286 - val_loss: 122.6082
Epoch 19/100
504/504 [==============================] - 0s 102us/step - loss: 115.8832 - val_loss: 115.4861
Epoch 20/100
504/504 [==============================] - 0s 94us/step - loss: 112.2889 - val_loss: 108.4282
Epoch 21/100
504/504 [==============================] - 0s 108us/step - loss: 109.8850 - val_loss: 110.1183
Epoch 22/100
504/504 [==============================] - 0s 110us/step - loss: 101.0592 - val_loss: 108.7684
Epoch 23/100
504/504 [==============================] - 0s 100us/step - loss: 99.9007 - val_loss: 109.7749
Epoch 24/100
504/504 [==============================] - 0s 110us/step - loss: 102.7220 - val_loss: 115.3158
Epoch 25/100
504/504 [==============================] - 0s 114us/step - loss: 106.3996 - val_loss: 124.0017
Epoch 26/100
504/504 [==============================] - 0s 107us/step - loss: 102.6878 - val_loss: 120.2207
Epoch 27/100
504/504 [==============================] - 0s 95us/step - loss: 111.5306 - val_loss: 110.1642
Epoch 28/100
504/504 [==============================] - 0s 254us/step - loss: 107.4128 - val_loss: 122.5232
Epoch 29/100
504/504 [==============================] - 0s 122us/step - loss: 106.0970 - val_loss: 109.0705
Epoch 30/100
504/504 [==============================] - 0s 115us/step - loss: 101.2480 - val_loss: 109.1554
Epoch 31/100
504/504 [==============================] - 0s 96us/step - loss: 102.0059 - val_loss: 118.7785
Epoch 32/100
504/504 [==============================] - 0s 104us/step - loss: 105.6773 - val_loss: 110.2927
Epoch 33/100
504/504 [==============================] - 0s 102us/step - loss: 114.9349 - val_loss: 116.9974
Epoch 34/100
504/504 [==============================] - 0s 95us/step - loss: 103.9127 - val_loss: 109.6406
Epoch 35/100
504/504 [==============================] - 0s 101us/step - loss: 100.6576 - val_loss: 124.0058
Epoch 36/100
504/504 [==============================] - 0s 96us/step - loss: 101.4661 - val_loss: 112.4380
Epoch 37/100
504/504 [==============================] - 0s 103us/step - loss: 100.5912 - val_loss: 110.3145
Epoch 38/100
504/504 [==============================] - 0s 97us/step - loss: 104.7175 - val_loss: 111.7739
Epoch 39/100
504/504 [==============================] - 0s 115us/step - loss: 102.6116 - val_loss: 111.1904
Epoch 40/100
504/504 [==============================] - 0s 100us/step - loss: 101.8784 - val_loss: 114.1000
Epoch 41/100
504/504 [==============================] - 0s 95us/step - loss: 103.9393 - val_loss: 109.9668
Epoch 42/100
504/504 [==============================] - 0s 105us/step - loss: 100.8974 - val_loss: 112.1601
Epoch 43/100
504/504 [==============================] - 0s 96us/step - loss: 101.4407 - val_loss: 112.4105
Epoch 44/100
504/504 [==============================] - 0s 106us/step - loss: 105.7132 - val_loss: 110.7263
Epoch 45/100
504/504 [==============================] - 0s 104us/step - loss: 110.4345 - val_loss: 112.0982
Epoch 46/100
504/504 [==============================] - 0s 91us/step - loss: 105.7248 - val_loss: 114.3864
Epoch 47/100
504/504 [==============================] - 0s 98us/step - loss: 101.9478 - val_loss: 110.4157
Epoch 48/100
504/504 [==============================] - 0s 101us/step - loss: 101.8571 - val_loss: 113.0791
Epoch 49/100
504/504 [==============================] - 0s 102us/step - loss: 99.5607 - val_loss: 113.3681
Epoch 50/100
504/504 [==============================] - 0s 108us/step - loss: 104.1109 - val_loss: 108.5082
Epoch 51/100
504/504 [==============================] - 0s 98us/step - loss: 100.3416 - val_loss: 109.2273
Epoch 52/100
504/504 [==============================] - 0s 107us/step - loss: 100.6841 - val_loss: 109.4033
Epoch 53/100
504/504 [==============================] - 0s 90us/step - loss: 104.0784 - val_loss: 108.1980
Epoch 54/100
504/504 [==============================] - 0s 89us/step - loss: 106.4858 - val_loss: 109.6461
Epoch 55/100
504/504 [==============================] - 0s 101us/step - loss: 112.5004 - val_loss: 109.9241
Epoch 56/100
504/504 [==============================] - 0s 98us/step - loss: 113.0979 - val_loss: 111.5100
Epoch 57/100
504/504 [==============================] - 0s 101us/step - loss: 102.4459 - val_loss: 108.2506
Epoch 58/100
504/504 [==============================] - 0s 96us/step - loss: 100.2083 - val_loss: 111.8671
Epoch 59/100
504/504 [==============================] - 0s 101us/step - loss: 103.0234 - val_loss: 116.6350
Epoch 60/100
504/504 [==============================] - 0s 104us/step - loss: 106.7946 - val_loss: 134.3728
Epoch 61/100
504/504 [==============================] - 0s 118us/step - loss: 112.8868 - val_loss: 114.7505
Epoch 62/100
504/504 [==============================] - 0s 92us/step - loss: 99.7063 - val_loss: 111.9314
Epoch 63/100
504/504 [==============================] - 0s 91us/step - loss: 100.7102 - val_loss: 108.2193
Epoch 64/100
504/504 [==============================] - 0s 94us/step - loss: 104.6194 - val_loss: 111.5705
Epoch 65/100
504/504 [==============================] - 0s 87us/step - loss: 99.7023 - val_loss: 110.1811
Epoch 66/100
504/504 [==============================] - 0s 100us/step - loss: 101.6796 - val_loss: 113.8101
Epoch 67/100
504/504 [==============================] - 0s 90us/step - loss: 101.0127 - val_loss: 114.1065
Epoch 68/100
504/504 [==============================] - 0s 85us/step - loss: 105.0250 - val_loss: 109.9848
Epoch 69/100
504/504 [==============================] - 0s 108us/step - loss: 105.2757 - val_loss: 108.7864
Epoch 70/100
504/504 [==============================] - 0s 95us/step - loss: 99.0042 - val_loss: 112.1647
Epoch 71/100
504/504 [==============================] - 0s 99us/step - loss: 99.9212 - val_loss: 108.4990
Epoch 72/100
504/504 [==============================] - 0s 92us/step - loss: 99.6568 - val_loss: 109.1484
Epoch 73/100
504/504 [==============================] - 0s 98us/step - loss: 100.3628 - val_loss: 111.1880
Epoch 74/100
504/504 [==============================] - 0s 89us/step - loss: 101.9527 - val_loss: 110.2706
Epoch 75/100
504/504 [==============================] - 0s 93us/step - loss: 102.4273 - val_loss: 108.8116
Epoch 76/100
504/504 [==============================] - 0s 96us/step - loss: 104.4079 - val_loss: 111.8692
Epoch 77/100
504/504 [==============================] - 0s 96us/step - loss: 103.2251 - val_loss: 114.6018
Epoch 78/100
504/504 [==============================] - 0s 99us/step - loss: 103.8327 - val_loss: 126.7455
Epoch 79/100
504/504 [==============================] - 0s 91us/step - loss: 112.6856 - val_loss: 139.0255
Epoch 80/100
504/504 [==============================] - 0s 86us/step - loss: 108.4770 - val_loss: 109.1166
Epoch 81/100
504/504 [==============================] - 0s 97us/step - loss: 101.2825 - val_loss: 114.4565
Epoch 82/100
504/504 [==============================] - 0s 88us/step - loss: 101.9858 - val_loss: 108.7751
Epoch 83/100
504/504 [==============================] - 0s 111us/step - loss: 101.1460 - val_loss: 108.5383
Epoch 84/100
504/504 [==============================] - 0s 101us/step - loss: 99.5233 - val_loss: 109.0038
Epoch 85/100
504/504 [==============================] - 0s 91us/step - loss: 102.9032 - val_loss: 113.5673
Epoch 86/100
504/504 [==============================] - 0s 88us/step - loss: 102.3814 - val_loss: 108.6833
Epoch 87/100
504/504 [==============================] - 0s 103us/step - loss: 103.1460 - val_loss: 111.5323
Epoch 88/100
504/504 [==============================] - 0s 92us/step - loss: 100.9358 - val_loss: 114.9357
Epoch 89/100
504/504 [==============================] - 0s 105us/step - loss: 102.1543 - val_loss: 108.1273
Epoch 90/100
504/504 [==============================] - 0s 92us/step - loss: 101.3246 - val_loss: 109.4605
Epoch 91/100
504/504 [==============================] - 0s 89us/step - loss: 100.2420 - val_loss: 108.3786
Epoch 92/100
504/504 [==============================] - 0s 100us/step - loss: 101.0737 - val_loss: 109.0286
Epoch 93/100
504/504 [==============================] - 0s 87us/step - loss: 102.8791 - val_loss: 109.4253
Epoch 94/100
504/504 [==============================] - 0s 103us/step - loss: 111.3255 - val_loss: 109.6260
Epoch 95/100
504/504 [==============================] - 0s 95us/step - loss: 99.7714 - val_loss: 109.9487
Epoch 96/100
504/504 [==============================] - 0s 114us/step - loss: 100.3588 - val_loss: 108.7503
Epoch 97/100
504/504 [==============================] - 0s 94us/step - loss: 100.9273 - val_loss: 109.0558
Epoch 98/100
504/504 [==============================] - 0s 92us/step - loss: 102.4979 - val_loss: 114.8653
Epoch 99/100
504/504 [==============================] - 0s 105us/step - loss: 102.0128 - val_loss: 118.7123
Epoch 100/100
504/504 [==============================] - 0s 97us/step - loss: 106.2628 - val_loss: 126.4067

In [27]:
mse1_list = []

for i in range(50):
    # 1. Split the data (with random_state changing on each iteration for true randomness)
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    
    # 2. Create a new instance of the model
    model = create_baseline_model(input_dim)
    
    # Train the model
    model.fit(X_train, y_train, epochs=100, verbose=0)
    
    # 3. Predict on the test set and calculate MSE
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    # Append the MSE to the list
    mse1_list.append(mse)
    
# 5. Calculate the mean and standard deviation of the MSEs
mse_mean1 = np.mean(mse1_list)
mse_std1 = np.std(mse1_list)

mse_mean1, mse_std1

(137.4149939993684, 67.1865276798484)

# Part D ,increase hidden layers

In [28]:
def create_model(input_dim):
    model = Sequential()
    
    # Add 3 hidden layer with 10 nodes and ReLU activation
    model.add(Dense(10, activation='relu', input_shape=(input_dim,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    # Output layer with a single node for regression (no activation function)
    model.add(Dense(1))
    
    # Compile the model with the Adam optimizer and Mean Squared Error as the loss function
    model.compile(optimizer=Adam(), loss='mean_squared_error')
    
    return model

In [29]:
mse_list2 = []

for i in range(50):
    # 1. Split the data (with random_state changing on each iteration for true randomness)
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    
    # 2. Create a new instance of the model
    model = create_model(input_dim)
    
    # Train the model
    model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # 3. Predict on the test set and calculate MSE
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    # Append the MSE to the list
    mse_list2.append(mse)
    
# 5. Calculate the mean and standard deviation of the MSEs
mse_mean2 = np.mean(mse_list2)
mse_std2 = np.std(mse_list2)

mse_mean2, mse_std2

(124.07673712202755, 44.1380017680526)